

.timeline-game {
display: flex;
}

.events {
  padding: 10px;
}
.event {
  margin: 10px 0;
  padding: 10px;
  background-color: #f0f0f0;
  cursor: grab;
}

.event.isPlaced {
  background-color: green; 
  cursor: not-allowed;
  text-decoration: line-through;
}

.timeline-slot {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #ccc;
  transition: background-color 0.3s;
}

.timeline-slot.correct {
  background-color: green;
}

.timeline-slot.incorrect {
  background-color: red;
}
