.app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 5px;
}

li:hover {
  background-color: #d0d0d0;
}

.notification {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

h2 {
  margin-bottom: 20px;
}
.divprincipal{
  align-items: center;
  margin: 0 auto;
}